.searchbox
{
      padding-top: 50px;
      padding-bottom: 50px;  
}

.searchbox #searchinput
{
    
}

.btn-link
{
    margin-left: -13px;
    margin-right: 0px;
}

.loadingcard
{
    background-color: #eeeeee24;
}

#mainlogo
{
    display: none; 
}

#searchinput
{
    display: none;
}

